<h1>StartPage#select</h1>
<p>Find me in app/views/start_page/select.html.erb</p>
<%= form_tag week_include_path do | f | %>
<% left = @course_labels.slice(0,@course_labels.length/2)
   right = @course_labels.slice(@course_labels.length/2,@course_labels.length)
   %>
   <table>
     <tr>
       <td>
         <%= render partial: "check_boxes", locals: {labels: left} %>
       </td>
       <td>
         <%= render partial: "check_boxes", locals: {labels: right} %>
       </td>
    </tr>
  </table>

<% end %>
